*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}

.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(../assets/bg2.jpg);
	background-size: cover;
	background-position: center;

}

.navbar h2{
	color: white;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{

/*	  font-family: 'Brush Script MT', cursive;*/
  font-family: Copperplate, Papyrus, fantasy;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #006988;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;

}
.navbar ul li:hover::after{
	width: 100%;
}

.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}

.content h1{
	font-size: 70px;
	margin-top: 80px;

}

.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span{
	background: #009688;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span{
	width: 100%;
}

.align-text{
	text-align: justify;
}

/*About Us Section*/

.about{
	width: 100%;
	padding: 78px 0px;
	background-color: #191919;
}

.about img{
	height: 601px;
	width: 450px;
}

.about-text{
	width: 550px;
}

.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h1{
	color: white;
	font-size: 80px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text p{
	color: grey;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	text-align: justify;
}

.about-text button{
	background: lightblue;
	color: gray;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .5s;
}

.about-text button:hover{
	background: transparent;
	border: 2px solid lightblue;
	cursor: pointer;
}

/*Login Section Start*/

.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 50, 0.8),rgba(0, 0, 50, 0.8)),url(../assets/login-background.png);
	background-size: cover;
	background-position: center;
	position: relative;
}

.form-box{
	width: 90%;
	max-width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1{
	font-size: 30px;
	margin-bottom: 60px;
	color: #3c00a0;
	position: relative;
}

.form-box h1::after{
	content: '';
	width: 30px;
	height: 4px;
	border-radius: 3px;
	background: #3c00a0;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);

}

.input-field{
	background: #eaeaea;
	margin: 15px 0;
	border-radius: 3px;
	display: flex;
	align-items: center;

}

input{
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 18px 15px;
}

.input-field i{
	margin-left: 15px;
	color: #999;
}

.btn-field{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.btn-field button{
	flex-basis: 48%;
	background: #3c00a0;
	color: #fff;
	height: 40px;
	border-radius: 20px;
	border: 0;
	outline: 0;
	cursor: pointer;
	transition: background 1s;

}

.input-group{
	height: 150px;
}

.icon-cog{
	color:#3c00a0 ;
}